@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root { 
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--Very-dark-blue1: hsl(217, 54%, 11%);
--Very-dark-blue2: hsl(216, 50%, 16%);
--Very-dark-blue3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%); }
* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--Very-dark-blue1);
    width:100% ;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nft-card {
   background: var(--Very-dark-blue2);
   border-radius: 15px;
   width: 300px;
   padding: 1rem;
}
.image {
    position: relative;
}
.mainImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.image div {
    position: absolute;
    background-color:  hsla(178, 100%, 50%, 0.356);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.image div:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}
.image div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h3 {
    margin-top: 1.5rem;
    font-size: 20px;
    font-weight: 600;

}
.description {
    margin: 0.6rem 0 1rem 0;
    color: var(--Soft-blue);
    line-height: 28px;
    font-weight: 300;
}
.price-days {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid var(--Soft-blue);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.price {
    display: flex;
    align-items: center;
    color: var(--Cyan);
    font-weight: bold; letter-spacing: 0.5px;
    font-size: 14px;
}
.price img {
 margin-right: 8px }

.days {
    display: flex;
    align-items: center;
    color: var(--Soft-blue);
    font-size: 14px;
 }
 .days img {
    margin-right: 8px;
 }
 .creator {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--Soft-blue);
 }
 .avatar {
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 1rem;
    width: 30px;
 }
 .creator span {
    color: white;
    margin-left: 5px;

 }
 .mainImg, h3, span {
    cursor: pointer;
 }
 h3:hover, span:hover{
    color: var(--Cyan);
 }
